<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fetch-Tech</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Fetch-Tech</a>
      </h1>
      {{#if loggedIn}}
      <h2>
        Welcome, {{username}}!
      </h2>
      {{/if}}
      <nav>
        <a href="/">Homepage</a>
        |
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        |
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">Login/Sign-up</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Sit. Stay. Fetch-Tech.
    </footer>
  </div>

{{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>
